*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans' , sans-serif;
    position: relative;
    color: #fff ;
     background-color:#12181b;
}

nav {
    padding :4rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}
nav h1{
    font-size: 2rem;
    width: 40%;
}
.navlinks {
    display: flex;
    width: 30%;
    justify-content: space-around;
    
}
.navlinks .link {
    padding: 0.25rem 1rem;
    font-size: 1.175rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    
}

.link a {
    text-decoration: none;
    color: #fff;
}
 .link:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
    background: #fa8142;
    color: #fff;
    font-size: 21px;
    transform: translateY(-2px) ;
    transition: background .4s ease;
}

.home{
    position :relative;
}
ul.submenu {
    list-style-type: none;
    position: absolute;
    top: -400%;
     left: -5%;
    
}
ul.submenu li {
    opacity:0 ;
    padding: 0.1rem 0.3rem;
    margin-bottom: 0.2rem;
    background-color:#9289847b;
    cursor: pointer;
    
}
ul.submenu li:hover {
    background-color: #fa8142;

}


@keyframes move {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.nav_active {
    transform: translateY(180%) ;
    z-index: 1;
   
}

.content-container {
    max-width: 90% ;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.content{
  
    display: flex;
    justify-content: space-evenly;  

}
.image-content {
    max-width: 33%;
}


.image-content img {
    width: 100%;
    height: 80%;   
    object-fit: cover;
    box-shadow: 0 1rem 1rem  rgba(14, 17, 17, 0.864) ;
}
.work-content {
    width: 40%;
    
}
.work-content h2 {
    margin-bottom: 0.6rem ;
    font-size: 2rem ;
}

.work-content p {
    line-height: 2rem;

}

.footer {
    display: flex;
    padding : 1rem;
    margin: 4rem 0 0 0;
    justify-content: space-around;
    background-color: rgb(12, 36, 36);
}
.footer-top h2 {
    margin-bottom: 0.2rem;
    font-size: 2rem;
    font-weight: 800;
}

.socials ul  {
    list-style-type: none;
    display: flex;
    font-size : 2rem ;
}
.socials ul li {
    padding: 0.3rem;
    margin-right: 0.5rem;
    
}
.socials ul li i{
 color: #fff;
}
    
  
